html, body {
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
} 

::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}

#contenedor_main {
  font-family: Arial, sans-serif;
  color: white;
}

.titulos_secciones {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}