#header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 75px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin: 0px 30px;
}

#header .nav-links {
  display: flex;
  flex-grow: 1; /* Los enlaces ocupan todo el espacio disponible */
  height: 100%; /* Los enlaces abarcan toda la altura del header */
}


#header .nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Cada enlace ocupa el mismo espacio dentro del header */
  height: 100%; /* Cada enlace abarca toda la altura del header */
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#header .nav-links a:hover {
  background-color: rgba(57, 206, 52, 0.1); /* Fondo al pasar el mouse */
  color: #cad363; /* Cambia el color del texto */
}